/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media (max-width: 1200px){
	.counter-content .product-image-wrap{
		display: none;
	}
	.order-now .left-part img{
		width: 100%;
	}
	.order-now .dotted_bg,
	.order-now .gradient{
		top: 25%;
	}
	.cover-img img{
		margin-left: 70px;
		width: 500px;
	}
}


/* Medium Devices, Desktops */
@media (max-width: 990px) {
	#home .dotted_bg{
		display: none;
	}
	.order-now .dotted_bg,
	.order-now .gradient{
		height: 120px;
	}
	.cover-img img{
		margin-left: 70px;
		width: 500px;
	}
	.cover{
		margin-top: 150px;
	}
	.cover-img{
		margin-top: 120px;
	}
	.our-features .left-part{
		padding-right: 15px;
	}
	.our-features .right-part{
		padding-left: 15px;
	}
	.our-features .each-part{
		text-align: left !important;
		margin-bottom: 50px;
		max-width: inherit;
	}
	.our-features .left-part .each-part h3.title:before{
		left: 0;
	}
	.our-features .left-part .each-part h3.title{
		padding: 0 0 0px 20px ;
	}
	.each-item .side-content .after{
		margin-right: 60px;
	}
	.custom-navigation img{
		width: 40px !important;
	}
	.previous-img img{
		width: 150px !important;
	}
	.each-item .side-content .before h3,
	.each-item .side-content .after h3{
		font-size: 30px !important;
	}
	.product-content{
		margin-top: 50px;
	}
	.each-certificate img{
		width: 100%;
	}
	.counter-content{
		text-align: center;
	}
	.counter-content .each-counter{
		margin-bottom: 50px;
	}

}


/* Small Devices, Tablets */
@media (max-width: 768px) {
	.navbar-fixed-top .navigation{
		padding: 10px !important;
	}
	.flex-active-slide .side-content{
		animation: inherit;
	}
	.cover-img img{
		margin-left: 70px;
		width: 500px;
	}
	.each-counter{
		text-align: center;
		margin-bottom: 30px;
	}
	body.toggled {
		position: fixed;
	}
	.cover-img {
		margin-top: 50px;
	}
	.cover-img{
		text-align: center;
	}
	.cover-img img{
		margin-left: 0;
		display: inline-block;
	}
	.each-item .side-content .after{
		margin-right: 0;
	}
	.previous-img{
		left: 15px !important;
	}
	.previous-img img{
		width: 100% !important;
	}
	.custom-navigation .flex-prev,
	.custom-navigation .flex-next{
		top: -40px !important;
	}
	.flex-active-slide .side-content .pull-right{
		text-align: right;
	}
	.counter-content h2.counter{
		font-size: 40px;
	}
	.each-item .side-content{
		margin-top: 50px !important;
	}
	.each-item .side-content .before h3, .each-item .side-content .after h3 {
		font-size: 20px !important;
	}
	.each-certificate{
		margin-bottom: 20px;
		border: none !important;
	}
	.each-certificate img{
		width: auto !important;
	}
	.placeholder-left{
		opacity: .1;
	}
	.subscribe-form input[type="email"],
	.subscribe-form input[type="submit"]{
		border-radius: 0 !important;
	}
	.page-header span{
		animation: inherit;
	}
	.page-header .subtitle{
		animation: inherit;
	}
}


/* Extra Small Devices, Phones */
@media (max-width: 480px) {
	.navigation{
		padding: 15px;
	}
	.navigation .logo-left img{
		width: 120px;
	}
	.cover-img img{
		margin-left: 70px;
		width: 500px;
	}
	.cover .title{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cover h1 {
	  font-size: 40px;
	}
	.cover h4 {
	  font-size: 20px;
	}
	.order-button,
	a.video-button{
		display: block;
		width: 100%;
	}
	.order-button{
		margin-bottom: 10px;
	}
	a.video-button{
		text-align: center;
	}
	.counter-content{
		margin: 50px 0 50px 0;
	}
	.page-header{
		margin: 60px 10px 40px 10px;
	}
	.page-header h2{
		font-size: 20px;
	}
	.page-header span{
		display: block;
		margin-bottom: 10px;
	}
	.page-header .devider{
		display: none !important;
	}
	.previous-img img{
		width: 120px !important;
	}
	.custom-controls-container{
		padding-top: 50px;
	}
	.custom-navigation .flex-prev,
	.custom-navigation .flex-next{
		top: 0px !important;
	}
	.supplement-facts .tab-title h3{
		font-size: 18px !important;
	}
	.subscribe-form .form{
		padding: 10px !important;
		border-radius: 0 !important;
	}
	.order-now .left-part img{
		margin-left: 0;
	}
}

/* Custom devices */
@media (max-height: 600px) {
	.show-menu .navbar.menu-wrap{
		overflow-x: hidden;
  		overflow-y: scroll;
	}
	.cover-img img{
		margin-left: 70px;
		width: 500px;
	}
}
